################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Google  Auth Demo/.vs/Google  Auth Demo/FileContentIndex/2ce37976-16fb-4b99-859c-0873061a3ecf.vsidx
/Google  Auth Demo/.vs/Google  Auth Demo/FileContentIndex
